.header {
  color: #FBA819;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 118px);
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.707);
}