.container {
  width: calc(22% - 10px);
  min-width: 105px;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  overflow: hidden;
  margin-bottom: 10px;

  h2 {
    margin-bottom: 1rem;
    color: #300C39;
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
  }

  ul {
    list-style: none;
    padding: 10px;
    height: 85%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #FBA819;
      border-radius: 2px;
    }

    li {
      padding: 5px;
      
      &:not(:last-child) {
        border-bottom: 1px solid rgba(211, 211, 211, 0.349);
      }

      &:hover {
        background-color: rgba(211, 211, 211, 0.349);
      }
    }
  }
}